/* #f7f7f7 */
/* 
0 - 600px:   Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800]: normal
1800 +: Big desktop */
/* 
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
/* 1em = 16px */
.btn:link, .btn:visited, input[type=submit] {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  transition: all .15s;
  background-color: #ffa500;
  color: #313131; }

@media (hover: hover) {
  .btn:hover, input[type=submit]:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); } }

@media (hover: hover) {
  .btn:active, input[type=submit]:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 53.125%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 46.875%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 78.125%; } }

body {
  box-sizing: border-box; }

.heading-primary {
  text-transform: uppercase;
  text-align: left;
  color: #313131; }
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: .2rem;
    animation: moveInDown 1.2s ease-out .5s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem;
        letter-spacing: normal; } }
  .heading-primary--tagline {
    word-spacing: .3rem;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    animation: moveInUp 1.2s ease-out .5s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--tagline {
        font-size: 1rem;
        margin-bottom: 2rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #313131;
  box-sizing: border-box;
  background-color: #cbcbcb; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .3rem;
  background-image: linear-gradient(to top, #676767, rgba(255, 165, 0, 0.7));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  transition: all .2s; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      font-weight: 400; } }
  @media (hover: hover) {
    .heading-secondary:hover {
      letter-spacing: .7rem;
      word-spacing: .5rem;
      text-shadow: 1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
      transform: scale(1.5) skewX(-7deg); } }

@keyframes moveInUp {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  70% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInDown {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  70% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-6 {
  margin-bottom: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-6 {
      margin-bottom: 3rem; } }

.btn:link, .btn:visited {
  position: relative; }

.btn--animated {
  animation: moveInLeft .8s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn--small {
  padding: 1rem 2.5rem;
  border-radius: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .btn--small {
      padding: .7rem 1rem; } }

.btn--large {
  padding: 1.1rem 3.6rem;
  border-radius: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .btn--large {
      padding: .7rem 2rem; } }

.gallery-container {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .gallery-container {
      align-items: center;
      flex-direction: column; } }
  .gallery-container__item {
    flex-basis: 35rem;
    height: 100%;
    flex-grow: 1;
    outline-offset: 1rem;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .gallery-container__item {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 60%;
        outline-offset: none;
        height: auto; } }
    @media only screen and (max-width: 37.5em) {
      .gallery-container__item {
        max-width: 50rem;
        height: auto; } }
    .gallery-container__item:not(:last-child) {
      margin-right: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .gallery-container__item:not(:last-child) {
          margin-bottom: 2rem;
          margin-right: 0; } }
      @media only screen and (max-width: 37.5em) {
        .gallery-container__item:not(:last-child) {
          margin-bottom: 2rem;
          margin-right: 0; } }
    @media (hover: hover) {
      .gallery-container__item:hover {
        transform: scale(1.1);
        outline: 0.5rem solid #ffa500;
        z-index: 5; } }
  @media (hover: hover) {
    .gallery-container:hover .gallery-container__item:not(:hover) {
      transform: scale(0.9); } }
  .gallery-container__img {
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .gallery-container__img {
        width: 100%;
        height: 100%; } }

.footer {
  background-color: rgba(0, 0, 0, 0.8); }
  .footer__text-container {
    padding: 1rem; }
  .footer__text {
    color: white; }

.row {
  max-width: 112rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.header {
  height: 100vh;
  background-image: url(../img/html-1.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-position: top; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(100% 0, 100% 85%, 20% 85%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 85%, 20% 85%, 0 100%, 0 0);
      height: 95vh; } }
  .header__text-box {
    background-color: rgba(84, 139, 207, 0.75);
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 1.5rem;
    padding: 1.5rem 2.5rem;
    clip-path: polygon(0 10%, 3% 0, 100% 0, 100% 90%, 97% 100%, 0 100%);
    animation: zoomIn .7s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        border-radius: 1rem;
        margin: .7rem;
        padding: .7rem 1.2rem; } }

.navigation {
  background-color: rgba(0, 0, 0, 0.8); }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .navigation__list {
    list-style-type: none; }
    .navigation__list--main {
      display: flex;
      justify-content: space-around;
      flex: 0 60rem;
      flex-wrap: wrap; }
    .navigation__list--social {
      display: flex;
      flex: 0 30rem;
      justify-content: space-around; }
      @media only screen and (max-width: 37.5em) {
        .navigation__list--social {
          display: none; } }
  .navigation__item {
    margin: .3rem 1rem;
    flex-shrink: 0;
    text-decoration: none;
    color: white;
    font-size: 1.8rem; }
    .navigation__item-main:link, .navigation__item-main:visited {
      text-align: center;
      color: white;
      padding: 1rem 1.2rem;
      display: inline-block;
      flex-basis: 7rem;
      margin-bottom: 0;
      letter-spacing: .2rem; }
      @media only screen and (max-width: 37.5em) {
        .navigation__item-main:link, .navigation__item-main:visited {
          padding: .7rem 1rem;
          margin-bottom: 1rem;
          letter-spacing: normal; } }
    @media (hover: hover) {
      .navigation__item-main:hover {
        border-bottom: 0.15rem solid #ffa500; } }
    .navigation__item-social {
      padding: 1rem .5rem; }

.section-about-me {
  padding: 15rem 0 10rem 0;
  margin-top: -15vh;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: linear-gradient(to right bottom, rgba(105, 168, 247, 0.3), #548BCF);
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .section-about-me {
      padding: 8rem 0 7rem 0;
      border-bottom-left-radius: .7rem;
      border-bottom-right-radius: .7rem; } }
  .section-about-me__container {
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .section-about-me__container {
        flex-direction: column; } }
  .section-about-me__img-section {
    display: flex;
    /* justify-content: flex-start; */
    margin-right: 2rem;
    flex-basis: 50%; }
    @media only screen and (max-width: 37.5em) {
      .section-about-me__img-section {
        flex-basis: 100%;
        margin: 0 1.5rem 1.5rem 1.5rem;
        width: 80%;
        align-self: center; } }
  .section-about-me__text {
    flex-basis: 40%; }
    @media only screen and (max-width: 37.5em) {
      .section-about-me__text {
        flex-basis: 100%;
        width: 70%;
        align-self: center; } }
  .section-about-me p {
    width: 80%; }
    @media only screen and (max-width: 37.5em) {
      .section-about-me p {
        width: 100%;
        text-align: justify; } }
  .section-about-me__img-container {
    width: 80%;
    margin-left: auto; }
    @media only screen and (max-width: 37.5em) {
      .section-about-me__img-container {
        width: 100%;
        margin: 0; } }
  .section-about-me__img {
    width: 100%;
    height: 100%;
    /* @include respond(phone) {
            margin: 0 auto;
        } */ }

.section-my-work {
  padding: 10rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .section-my-work {
      padding: 7rem .7rem; } }

.section-contact-me {
  padding: 10rem 0 5rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-image: linear-gradient(to right bottom, rgba(105, 168, 247, 0.3), #548BCF);
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .section-contact-me {
      padding: 7rem 3rem 1.5rem 3rem; } }
  .section-contact-me__content-container {
    width: 50%;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .section-contact-me__content-container {
        width: 100%;
        margin-bottom: 2rem; } }
  .section-contact-me__content {
    width: 80%;
    text-align: justify; }
    @media only screen and (max-width: 37.5em) {
      .section-contact-me__content {
        text-align: justify;
        width: 100%; } }
  .section-contact-me__form-container {
    width: 50%; }
    @media only screen and (max-width: 37.5em) {
      .section-contact-me__form-container {
        width: 100%; } }
  .section-contact-me__form {
    display: flex;
    flex-direction: column;
    align-items: center; }

.flex-container {
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 75em) {
    .flex-container {
      margin: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .flex-container {
      margin: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .flex-container {
      flex-direction: column;
      max-width: 45rem;
      margin-left: auto;
      margin-right: auto; } }

input, textarea {
  margin-bottom: 1.3rem;
  padding: .7rem;
  border-radius: .5rem;
  border: 1px solid #ccc; }

.input-form-1 {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .input-form-1 {
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .input-form-1 {
      flex-direction: column; } }

.input-form-2 {
  width: 100%; }

input[name=subject] {
  width: 100%; }

.msg-box {
  width: 100%; }

textarea {
  width: 100%; }

input[type=submit] {
  align-self: flex-start; }

textarea {
  border-radius: .5rem; }

.input {
  width: 45%; }
  @media only screen and (max-width: 56.25em) {
    .input {
      width: 100%; } }

input[name=name] {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    input[name=name] {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    input[name=name] {
      width: 100%; } }

input[type=email] {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    input[type=email] {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    input[type=email] {
      width: 100%; } }

input[type=submit] {
  border: none;
  margin: 0; }
  @media only screen and (max-width: 37.5em) {
    input[type=submit] {
      font-weight: 300;
      font-size: 1.7rem; } }

input::placeholder {
  color: #777; }

textarea::placeholder {
  font-size: 1.7rem; }
