.navigation {
    background-color: rgba(black, .5);
    
    &__container {
//        padding: .5rem 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__list {
        list-style-type: none;
        
        &--main {
            display: flex;
            justify-content: space-between;
            flex: 0 40rem;
            flex-wrap: wrap;
        }
        
        &--social {
            display: flex;
            flex: 0 20rem;
        }
    }
    
    &__item {
        margin: .3rem 1rem;
        flex-shrink: 0;
        text-decoration: none;
        color: white;
        
        &-main {
            &:link, &:visited {
                text-align: center;
                color: white;
                padding: 1rem 1.2rem;
                display: inline-block;
                flex-basis: 7rem;
                margin-bottom: 0;
            }
            
            &:hover {
                border-bottom: .15rem solid $mainOrange;
            }
        }
        
        &-social {
            padding: 1rem .5rem;
            /* align-items: center; */
        }
    }
}