.navigation {
    background-color: rgba(black, .5);
    
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    &__list {
        list-style-type: none;
        
        &--main {
            display: flex;
            justify-content: space-around;
            flex: 1 50rem;
            flex-wrap: wrap;
        }
        
        &--social {
            display: flex;
            flex: 0 30rem;
            justify-content: space-around;
            
            @include respond(phone) {
                display: none;
            }
        }
    }
    
    &__item {
        margin: .3rem 1rem;
        flex-shrink: 0;
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        
        &-main {
            &:link, &:visited {
                text-align: center;
                color: white;
                padding: 1rem 1.2rem;
                display: inline-block;
                flex-basis: 7rem;
                margin-bottom: 0;
                letter-spacing: .2rem;
                
                @include respond(phone) {
                    padding: .7rem 1rem;
                    margin-bottom: 1rem;
                    letter-spacing: normal;
                }
            }
            
            &:hover {
                border-bottom: .15rem solid $mainOrange;
            }
        }
        
        &-social {
            padding: 1rem .5rem;
        }
    }
}