.btn {
    &:link, &:visited {
        @extend %btn-placeholder;
    }

    &:hover {
        @extend %btn-hover;
    }

    &:active {
        @extend %btn-active;
    }
    
    &--animated {
        animation: moveInLeft .8s ease-out 1.5s;
        animation-fill-mode: backwards;
    }

    &--small {
        padding: 1rem 2.5rem;
    }
    
    &--large {
        padding: 1.1rem 3.6rem;
    }

}