.btn {
    &:link, &:visited {
        @extend %btn-placeholder;
        position: relative;
    }

    &:hover {
        @extend %btn-hover;
    }

    &:active {
        @extend %btn-active;
    }
    
    &--animated {
        animation: moveInLeft .8s ease-out 1.5s;
        animation-fill-mode: backwards;
    }

    &--small {
        padding: 1rem 2.5rem;
        border-radius: 10rem;
        
        @include respond(phone) {
            padding: .7rem 1rem;
        }
    }
    
    &--large {
        padding: 1.1rem 3.6rem;
        border-radius: 10rem;
        
        @include respond(phone) {
            padding: .7rem 2rem;
        }
    }
}

//.btn--nav {
//    border-radius: .4rem;
//    border: .2rem solid $mainOrange;
//    transition: all .3s;
//    
//    &:hover {
//        background-color: $mainOrange;
//        color: white;
//    }
//}
